/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .container {
    max-width: 600px;
  }
}
@media (min-width: 800px) {
  .container {
    max-width: 1000px;
  }
}
section.nav-bar {
  background-color: #43D9B8;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
}
section.nav-bar div.container {
  display: flex;
  justify-content: space-between;
}
section.nav-bar div.container div {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.nav-bar div.container div img {
  width: 70%;
}
section.nav-bar div.container div h1 {
  font-size: 2rem;
}
section.nav-bar div.container nav {
  width: 75%;
  display: flex;
  justify-content: right;
  align-items: center;
}
section.nav-bar div.container nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
section.nav-bar div.container nav a:hover {
  background-color: #f1f1f1;
  color: #000000;
}
section.nav-bar div.container .hide {
  display: inline-block;
  cursor: pointer;
  margin: 0;
}
@media (min-width: 800px) {
  section.nav-bar div.container .hide {
    display: none;
  }
}
section.nav-bar div.container .hide .menu-icon-1,
section.nav-bar div.container .hide .menu-icon-2,
section.nav-bar div.container .hide .menu-icon-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.hidden {
  display: none;
}
@media (min-width: 800px) {
  .hidden {
    display: flex;
  }
}
.container img {
  width: 100%;
}
p {
  margin: 3rem 3rem;
}
h2 {
  margin: 3rem 1rem;
}
.button a {
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #43D9B8;
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  padding: 1rem 3rem;
  margin-left: 3rem;
}
footer {
  background-color: #f1f1f1;
}
footer div.container {
  padding: 5rem 3rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer div.container div a {
  width: 1rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}
