/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: #000000;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.nav-bar {
  background-color: rgba(67, 217, 185, 0.95);
  padding: 1rem;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-bar nav {
  width: 75%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.nav-bar nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.nav-bar nav a:hover {
  background-color: #f1f1f1;
  color: #000000;
}
.nav-bar nav .desk-link {
  display: none;
}
@media (min-width: 1000px) {
  .nav-bar nav .desk-link {
    display: flex;
  }
}
.nav-logo {
  width: 130px;
}
.drop-icon {
  flex-direction: column;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 0.75rem;
  justify-content: end;
  align-self: center;
}
@media (min-width: 1000px) {
  .drop-icon {
    display: none;
  }
}
.drop-icon .drop-icon-top,
.drop-icon .drop-icon-mid,
.drop-icon .drop-icon-bot {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 5px 0;
  transition: 0.4s;
  border-radius: 2px;
}
.drop-icon:hover {
  background-color: #ffffff;
}
.drop-menu {
  background-color: #43D9B8;
  background-color: hsla(0, 0%, 100%, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-top: none;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 80px;
  right: 0.5rem;
  padding: 1rem;
  display: none;
}
.drop-menu .drop-link {
  background-color: #f1f1f1;
  background-color: hsla(0, 0%, 100%, 0.75);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  text-align: center;
  margin: 1rem 0;
  padding: 1rem;
}
.drop-toggle {
  display: flex;
}
.container {
  max-width: 500px;
  width: 100%;
  margin: 80px auto 0 auto;
}
@media (min-width: 800px) {
  .container {
    max-width: 800px;
  }
}
@media (min-width: 1000px) {
  .container {
    max-width: 1000px;
  }
}
.header-image {
  width: 100%;
}
.dbl-flex {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  .dbl-flex {
    flex-direction: row;
  }
}
.half-page {
  width: 100%;
}
.half-page-img {
  width: 100%;
}
h2 {
  margin: 3rem 1rem;
}
p {
  margin: 3rem 3rem;
}
.button a {
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: #43D9B8;
  font-size: 1.3rem;
  text-decoration: none;
  color: #000000;
  padding: 1rem 3rem;
  margin-left: 3rem;
}
.content-container {
  display: flex;
}
.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonial-carousel {
  display: flex;
  justify-content: space-around;
}
.testimonial-carousel img {
  width: 10%;
}
footer {
  background-color: #f1f1f1;
}
footer div.container {
  padding: 5rem 3rem;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer div.container div a {
  width: 1rem 3rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #000000;
}
