// About Styles

.half-page-img-about {
    display: none;
    @media(min-width: @tablet-width) {
        display: flex;
    }
}

.content-container {
    display: flex;
}

.testimonials-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        padding: 2rem;
    }
}

.testimonial-carousel {
    display: flex;
    justify-content: space-around;
    img {
        width: 10%;
    }
    .user-image {
        width: 200%;
    }
}


.carousel-testimonial {
    margin: 5rem auto;
    width: 60%;
    background-color: @alt-background-color;
    border-radius: 0.5rem;
    padding: 4rem;
}

