// About Styles

.about-content {
    margin: 15rem 0;
    h1 {
        font-size: 3rem;
        margin-left: 2rem;
    }
}

.about-img {
    display: none;
    padding: 2rem;
    @media(min-width: @tablet-width) {
        display: flex;
    }
}

.about-info {
    margin: auto 2rem;
    h2 {
        font-size: 2.5rem;
    }
}

.content-container {
    display: flex;
    align-items: center;
}

.testimonials-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        padding: 2rem;
        font-size: 3rem;
    }
}

.testimonial-carousel {
    display: flex;
    justify-content: space-around;
    img {
        width: 60%;
        border-radius: 2%;
        @media(min-width: @tablet-width) {
            width: 30%;
        }
    }
    .user-image {
        width: 100%;
    }
}


.carousel-testimonial {
    margin: 5rem auto;
    width: 100%;
    background-color: @alt-background-color;
    border-radius: 0.5rem;
    padding: 4rem;
    @media(min-width: @tablet-width) {
        width: 60%;
    }
    h4 {
        font-size: 1.8rem;
    }
}

