// Footer Styles

footer {
    background-color: @alt-background-color;
    div.container {
        height: 20rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        div.seperator {
            height: 75%;
            width: 2px;
            background-color: @main-font-color;
        }
    }
}
