// Footer Styles

footer {
    background-color: @alt-background-color;
    div.container {
        padding: 5rem 3rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        div {
            a {
                width: 1rem 3rem;
                padding: 1rem 2rem;
                font-size: 1.5rem;
                text-decoration: none;
            }
        }
    }
}
