// Navigation styles

section.nav-bar {
    background-color: @section-background-color;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    div.container {
        display: flex;
        justify-content: space-between;
        div {
            width: 25%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            img {
                width: 75%;
            }   
            h1 {
                font-size: 2rem;
            }
        }
        nav {
            width: 75%;
            display: flex;
            justify-content: right;
            align-items: center;
            a {
                color: @main-font-color; 
                text-decoration: none;
                font-size: 1.8rem;
                padding: 1.5rem;
                border-radius: 0.5rem;
            }
            a:hover {
                background-color: @alt-background-color;
                color: @main-font-color;
            }
        } 
    }
} 

.hide {
    display: none;
    @media(min-width: @desktop-width) {
        display: flex;
    }
}
