// Navigation styles

// Navigation bar

.nav-bar {
    background-color: @nav-background-color;
    padding: 1rem;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    nav {
        width: 75%;
        display: flex;
        justify-content: right;
        align-items: center;
        a {
            color: @main-font-color; 
            text-decoration: none;
            font-size: 1.8rem;
            padding: 1.5rem;
            border-radius: 0.5rem;
        }
        a:hover {
            background-color: @alt-background-color;
            color: @main-font-color;
        }
        .desk-link {
            display: none;
            @media(min-width: @desktop-width) {
                display: flex;
            }
        }
    } 
} 

// Navigation Logo

.nav-logo {
    width: 130px;
} 

// Drop-down menu for mobile and tablet widths

.drop-icon {
    flex-direction: column;
    cursor: pointer;
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    justify-content: end;
    align-self: center;
    @media(min-width: @desktop-width) {
        display: none;
    }
    .drop-icon-top, .drop-icon-mid, .drop-icon-bot {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 5px 0;
        transition: 0.4s;
        border-radius: 2px;
    }
}

.drop-icon:hover {
    background-color: @main-background-color;
}

.drop-menu {
    background-color: @section-background-color;
    background-color: hsla(100, 100%, 100%, 0.75);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: .5rem;
    padding: 1rem;
    display: none;
    .drop-link {
        background-color: @alt-background-color;
        background-color: hsla(100, 100%, 100%, 0.75);
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: .5rem;
        font-size: 1.8rem;
        text-decoration: none;
        font-weight: 300;
        color: @main-font-color;
        text-align: center;
        margin: 1rem 0;
        padding: 1rem;
    }
}

.drop-toggle {
    display: flex;
}