// Team Styles

.team-pics {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .member {
        width: 200px;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 150px;
            margin-top: 2rem;
        }
        h2 {
            font-size: 1.8rem;
            font-weight: 400;
        }
        h3 {
            font-size: 1.2rem;
        }
    }
}

.member-hover {
    background-color: @alt-background-color;
}

.header-image-team {
    width: 960px;
    height: 360px;
    Width
}